[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "tree-sitter-org"]
	path = tree-sitter-org
	url = https://github.com/milisims/tree-sitter-org
